<div class="wrapper_hallen"> 
      
        <div class= "dreiklang">
               <%= image_tag "hallen/dreiklanghalle.jpg", size:"533x400", class:"img"%>
        </div> 

        <div class= "dreiklang_info">
              <h3> Sporthalle "Dreiklang" </h3>
              <br>
              Hanns-Eisler-Weg 19
              <br>
              16303 Schwedt/Oder
              <br>
              <br>
              Telefon: 03332 22286
              <br>
              <br>
              <%= link_to 'Sporthalle "Dreiklang" auf Google Maps', "https://www.google.de/maps/place/Sporthalle+Dreiklang/@53.0584181,14.2775634,17z/data=!3m1!4b1!4m6!3m5!1s0x47a9fb49d6d01b33:0x965e9d1b0ad6f3cd!8m2!3d53.0584149!4d14.2801383!16s%2Fg%2F1tknjh8z?hl=de&entry=ttu", target: '_blank' , class:"a" %>


        </div>

        <div class= "neue_zeit">
              
               <%= image_tag "hallen/neuezeit.jpeg", size:"711x400", class:"img"%>
        </div>

        <div class= "neue_zeit_info">
              <h3> Sporthalle "Neue Zeit" </h3>
              <br>
              Ferdinand von Schill Straße 17
              <br>
              16303 Schwedt/Oder 
              <br>
              <br>
              Telefon: 03332 20840
              <br>
              <br>
              <%= link_to 'Sporthalle "Neue Zeit" auf Google Maps', "https://www.google.de/maps/place/Sporthallen+Neue+Zeit/@53.0674133,14.2919473,17z/data=!3m1!4b1!4m6!3m5!1s0x47a9fb43b7ba7ec3:0x1ab18fead53d5210!8m2!3d53.0674133!4d14.294136!16s%2Fg%2F1tdg6v69?hl=de&entry=ttu", target: '_blank', class:"a" %>
        </div>
        <div class= "külzviertel">
                <%= image_tag "hallen/külzviertel.jpg", size:"711x400", class:"img"%>
        </div>

        <div class= "külzviertel_info">
              <h3> Sporthalle "Külzviertel" </h3>
              <br>
              Dr.-Wilhelm-Külz-Viertel 2B
              <br>
              16303 Schwedt/Oder 
              <br>
              <br>
              Telefon: 03332 32215
              <br>
              <br>
              <%= link_to 'Sporthalle "Külzviertel" auf Google Maps', "https://www.google.com/maps/place/Sportplatz+K%C3%BClzviertel/@53.066546,14.2480885,15z/data=!4m6!3m5!1s0x47a9fad831519fe1:0x980640dde8da52d4!8m2!3d53.066546!4d14.2480885!16s%2Fg%2F1tcwvrvd?entry=ttu", target: '_blank', class:"a" %>
        </div>


    </div> 