<footer class="footer">
     <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>BG 94 Schwedt</h4>
          <ul>
            <li><%= link_to "Home", root_path, class:"a" %></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Hilfe</h4>
          <ul>
            <li><%= link_to "Ansprechpartner", training_ansprechpartner_path, class:"a" %></li>
 
          </ul>
        </div>
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><a href="https://bg94-schwedt.fan12.de/kategorien/damen/" target="_blank">Damen</a></li>
            <li><a href="https://bg94-schwedt.fan12.de/kategorien/herren/" target="_blank">Herren</a></li>
            <li><a href="https://bg94-schwedt.fan12.de/kategorien/kinder/" target="_blank">Kinder</a></li>
            <li><a href="https://bg94-schwedt.fan12.de/kategorien/accessoires/" target="_blank">Accessoires</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Folge uns!</h4>
          <div class="social-links">
            <div class="social_media">
                <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/800px-Instagram-Icon.png", size: "40x40"),  root_path%>
            </div>
            <div class="social_media"> <%= link_to image_tag("https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_Tiktok-512.png", size: "40x40"),  root_path%>
            </div>
            <div class="social_media"> <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png", size: "40x40"),  root_path%>
            </div>
          </div>
        </div>
      </div>
     </div>
  </footer>