<footer class="footer">
     <div class="wrapper_footer">
      <div class="row">
        <div class="footer-col">
          <h4>BG 94 Schwedt</h4>
          <ul>
            <li><%= link_to "Home", root_path, class:"a" %></li>
            <li><%= link_to "Impressum", home_impressum_path, class:"a" %></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Hilfe</h4>
          <ul>
            <li><%= link_to "Ansprechpartner", training_ansprechpartner_path, class:"a" %></li>
 
          </ul>
        </div>
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><%= link_to "Damen", "https://bg94-schwedt.fan12.de/kategorien/damen/", :target => '_blank',class:"a" %></li>
            <li><%= link_to "Herren", "https://bg94-schwedt.fan12.de/kategorien/herren/", :target => '_blank',class:"a" %></li>
            <li><%= link_to "Kinder", "https://bg94-schwedt.fan12.de/kategorien/kinder/", :target => '_blank',class:"a" %></li>
            <li><%= link_to "Accessoires", "https://bg94-schwedt.fan12.de/kategorien/accessoires/", :target => '_blank',class:"a" %></li>
          </ul>
        </div>
        <div class="footer-col">
         <h4>Folge uns!</h4>
          <ul>
            
            <li>
                <%= link_to image_tag("logos/instagram-icon.png", size: "40x40"),  "https://www.instagram.com/bg94schwedt/" ,target: '_blank'%>
            </li>
            <li>
           <%= link_to image_tag("logos/tiktok-icon.png", size: "40x40"),  root_path%>
            </li>
            <li>
            <%= link_to image_tag("logos/facebook-icon.png", size: "40x40"),  "https://www.facebook.com/people/BG94-Schwedt/100063349260929/?locale=de_DE" ,target: '_blank'%>
            </li>      
          </ul>
        </div>
        <div class="credits">
        <br>
        <br>
       
         designed and developed by Linus Pirscher
        </div>

      </div>
     </div>
  </footer>