<nav>
        <%= link_to image_tag("logos/bg-logo.png", size: "200x90"),  root_path, class:"logo" %>
        <input type="checkbox" id="toggle_button">
        <label for="toggle_button" class="toggle_button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>
        <ul>
            <li><%= link_to "Home", root_path, class:"a" %></li>
            <li><%= link_to "Teams", home_teams_path, class:"a" %></li>
            <li class="expandable_li">
                <input type="checkbox" id="products_checkbox">
                <label for="products_checkbox">Training  ></label>
                <ul class="dropdown">
                    <li><%= link_to "Trainingszeiten", training_trainingszeiten_path, class:"a" %></li>
                    <li><%= link_to "Sporthallen", training_hallen_path, class:"a" %></li>
                    <li><%= link_to "Ansprechpartner", training_ansprechpartner_path, class:"a" %></li>
                </ul>
            </li>
            <li class="expandable_li">
                <input type="checkbox" id="events_checkbox">
                <label for="events_checkbox">Events ></label>
                <ul class="dropdown">
                    <li> <%= link_to "Streetball", events_streetball_path, class:"a" %></li>
                    <li><%= link_to "Trainingslager", events_trainingslager_path, class:"a" %></li>
                </ul>
            </li>
            <li><%= link_to "Shop", "https://bg94-schwedt.fan12.de/", :target => '_blank',class:"a" %></li>
            <li><%= link_to "Partner", home_partner_path, class:"a" %></li>
            <div class="social_media">
                <%= link_to image_tag("logos/instagram-icon.png", size: "40x40"),  "https://www.instagram.com/bg94schwedt/" ,target: '_blank'%>
            </div>
            <div class="social_media"> <%= link_to image_tag("logos/tiktok-icon.png", size: "40x40"),  root_path%>
            </div>
            <div class="social_media"> <%= link_to image_tag("logos/facebook-icon.png", size: "40x40"),  "https://www.facebook.com/people/BG94-Schwedt/100063349260929/?locale=de_DE" ,target: '_blank'%>
            </div>

           
        </ul>
     
    </nav>