<nav>
    
        <%= link_to image_tag("https://cdn.discordapp.com/attachments/1008444521106915370/1108065115439386715/BG94_Website-3-removebg-preview.png", size: "200x90"),  root_path, class:"logo" %>
        <input type="checkbox" id="toggle_button">
        <label for="toggle_button" class="toggle_button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </label>
        <ul>
            <li><%= link_to "Home", root_path, class:"a" %></li>
            <li><%= link_to "Teams", home_teams_path, class:"a" %></li>
            <li class="expandable_li">
                <input type="checkbox" id="products_checkbox">
                <label for="products_checkbox">Training</label>
                <ul class="dropdown">
                    <li><%= link_to "Trainingszeiten", training_trainingszeiten_path, class:"a" %></li>
                    <li><%= link_to "Sporthallen", training_hallen_path, class:"a" %></li>
                    <li><%= link_to "Ansprechpartner", training_ansprechpartner_path, class:"a" %></li>
                </ul>
            </li>
            <li class="expandable_li">
                <input type="checkbox" id="events_checkbox">
                <label for="events_checkbox">Events</label>
                <ul class="dropdown">
                    <li> <%= link_to "Streetball", events_streetball_path, class:"a" %></li>
                    <li><%= link_to "Trainingslager", events_trainingslager_path, class:"a" %></li>
                </ul>
            </li>
            <li><a href="https://bg94-schwedt.fan12.de/" target="_blank">Shop</a></li>
            <li><%= link_to "Sponsoren", home_sponsoren_path, class:"a" %></li>
            <div class="social_media">
                <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/800px-Instagram-Icon.png", size: "40x40"),  root_path%>
            </div>
            <div class="social_media"> <%= link_to image_tag("https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_Tiktok-512.png", size: "40x40"),  root_path%>
            </div>
            <div class="social_media"> <%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png", size: "40x40"),  root_path%>
            </div>

           
        </ul>
     
    </nav>