<div class="wrapper_teams"> 
        
        <div class= "u5_img">
                <%= image_tag "https://www.basketsession.com/statics/uploads/2020/05/Chicago-BULLS-1996-72-10.jpg", size:"770x400", class:"img"%>
        </div> 
        <div class= "u5_info">
                <h1>Das ist unsere u5!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%> 
        </div>
        <div class= "u8_img">
                <%= image_tag "https://www.basketsession.com/statics/uploads/2020/05/Chicago-BULLS-1996-72-10.jpg", size:"770x400", class:"img"%>
        </div> 
        <div class= "u8_info">
                <h1>Das ist unsere u8!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
        <div class= "u12_img">
                <%= image_tag "https://www.basketsession.com/statics/uploads/2020/05/Chicago-BULLS-1996-72-10.jpg", size:"770x400", class:"img"%>
        </div> 
        <div class= "u12_info">
                <h1>Das ist unsere u12!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
        <div class= "u16_img">
                <%= image_tag "https://www.basketsession.com/statics/uploads/2020/05/Chicago-BULLS-1996-72-10.jpg", size:"770x400", class:"img"%>
        </div> 
        <div class= "u16_info">
                <h1>Das ist unsere u16!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
        <div class= "u18_img">
               <%= image_tag "teamfotos/u18-img.png", size:"815x500", class:"img"%>
        </div> 
        <div class= "u18_info">
                <h1>Das ist unsere u18!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
        <div class= "herren_img">
                <%= image_tag "teamfotos/herren-img.png", size:"532x400", class:"img"%>
        </div> 
        <div class= "herren_info">
                <h1>Das ist unsere herren!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
        <div class= "frauen_img">
                <%= image_tag "teamfotos/frauen-img.jpg", size:"465x500", class:"img"%>
        </div> 
        <div class= "frauen_info">
                <h1>Das ist unsere frauen!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
    </div> 