<div class="wrapper_teams"> 
        <div class= "headline"><h1>Hier sind unsere Teams!</h1></div>
        <div class= "u14_img">
                <%= image_tag "https://www.basketsession.com/statics/uploads/2020/05/Chicago-BULLS-1996-72-10.jpg", size:"770x400"%>
        </div> 
        <div class= "u14_info">
                <h1>Das ist unsere u14!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%> 
        </div>
        <div class= "u16_img">
                <%= image_tag "https://www.basketsession.com/statics/uploads/2020/05/Chicago-BULLS-1996-72-10.jpg", size:"770x400"%>
        </div> 
        <div class= "u16_info">
                <h1>Das ist unsere u16!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
        <div class= "u18_img">
                <%= image_tag "https://www.basketsession.com/statics/uploads/2020/05/Chicago-BULLS-1996-72-10.jpg", size:"770x400"%>
        </div> 
        <div class= "u18_info">
                <h1>Das ist unsere u18!</h1>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <p>Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! Kurzer Text zum Team! </p> <br>
                <%= link_to "Spielplan" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
                <%= link_to "Tabelle" , "https://bbv-inside.de/spielbetrieb/u18m-oberliga/", target: '_blank' , class:"btn"%>
        </div>
    </div> 